<h1>Feature Entity</h1>

<p>Use the form below to add a feature to the database!</p>

<form id="addFeature">
    <fieldset>

        <label for="Name">Name:</label><br>
        <input class="addRecord" type="text" name="Name" id="Name"><br>
		<button type="button" name="Submit" id="addFeatureButton">Submit</button>
   	
    </fieldset>
</form><br>

<p>The table below shows the records you have stored in the database.</p>

<table id="featureTable">
    <tr>
        <th>Name</th>
    </tr>
    
    {{#if results}}
        {{#each results}}
            <tr>
                <td>{{this.Name}}</td>
				<td><a href="/editRecord?id={{this.Id}}"><input type="button" value="Update"></a></td>
                <td>
                    <input type="button" name="delete" value="Delete" onClick="deleteData('featureTable',{{this.Id}})">
                    <input type="hidden" id="delete{{this.Id}}">
                </td>
            </tr>
        {{/each}}
    {{/if}}
</table>

<script src="public/dbF.js"></script>