<h1>Database update portal for CS340 Group 4</h1>

<p>This site provides the following pages for updating separate tables within the database</p>

<p><a href="listing">Update Listings</p>
<p><a href="listingFeature">Update Listing Features</p>
<p><a href="property">Update Property Types</p>
<p><a href="state">Update States</p>
<p><a href="zip">Update Zip-Codes</p>
<p><a href="city">Update Cities</p>
<p><a href="feature">Update Features</p>
