<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Browse Listings</h1>
        <p><a class="btn btn-primary btn-lg" href="listing" role="button">Go >></a></p>
    </div>
</div>

<!--<p>This site provides the following pages for updating separate tables within the database</p>

<p><a href="listing">Update Listings</p>
<p><a href="listingFeature">View Listing Features</p>
<p><a href="property">Update Property Types</p>
<p><a href="state">Update States</p>
<p><a href="zip">Update Zip-Codes</p>
<p><a href="city">Update Cities</p>
<p><a href="feature">Update Features</p>-->