/*input.addRecord {
    border: 1px solid grey;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 150px;
}

input.addRecordRadio {
    border: 1px solid grey;
    width: 70px;
}*/

td, input {
    /*width: 80px;*/
}

td.tableButton {
    border: none;
    margin: 1px;
    width: 50px;
}

td {
    /*border: 1px solid grey;*/
}

.actionCell{
    text-align: center;
}

.pageTitle{
    border-bottom: 1px solid lightgray;
}

#listingTable th:nth-child(6),
#listingTable td:nth-child(6),
#listingTable th:nth-child(7),
#listingTable td:nth-child(7),
#listingTable th:nth-child(8),
#listingTable td:nth-child(8),
#listingTable th:nth-child(9),
#listingTable td:nth-child(9) {
    text-align: right;
} 
